#canvas {
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2em rgb(0, 238, 255), -2px -2px 2em rgb(0, 238, 255), -2px 2px 2em rgb(0, 238, 255), 2px -2px 2em rgb(0, 238, 255);
}
body{
    background-color: black;
}
.container1{
    text-align: center;
}
.container{
    padding: 1px;
    color: white;
    text-align:center;
    margin-left:30px;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}
header{
    background-color: black;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    border-radius: 30px;
    padding-left:0px;
}

h1{
    color:white;
    background-color: black;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chose-difficult{
    border: 1px solid white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding:10px;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    margin-left: 10%;
    margin-top: 60px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    transition-property: width height font-size margin-top;
    transition-duration: 0.5s;
}
.chose-difficult:hover{
    width: 300px;
    height: 400px;
    font-size: 30px;
    margin-top: 10px;

}

.chose-mode{
    border: 1px solid white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding:10px;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    margin-left: 40%;
    margin-top: -370px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    position:center;
    transition-property: width height font-size margin-top;
    transition-duration: 0.5s;
}
.chose-mode:hover{
    width: 300px;
    height: 400px;
    font-size: 30px;
    margin-top: -420px;

}
.botao_play{
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 500px;
    height: 50px;
    margin-top: 80px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:19px;
    color: white;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    
}
.botao_play:hover{
    background-color: rgb(0, 238, 255);
    color:white;
    transition: 0.7s;
}
.button_start{
    text-align:center;
}
.chose-element{
    border: 1px solid white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    padding:10px;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    margin-left: 70%;
    margin-top: -370px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    position:center;
    transition-property: width height font-size margin-top;
    transition-duration: 0.5s;
}
.chose-element:hover{
    width: 300px;
    height: 400px;
    font-size: 30px;
    margin-top: -420px;

}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 238, 255);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb {
    background: rgb(19, 133, 141);
    border-radius: 30px;
}
#nivel-dificuldade{
    border: transparent;
    border-radius: 30px;
    width:100px;
    height: 40px;
    font-size: 20px;
    text-align:center;
}
.selecao_dificuldade{
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 180px;
    height: 50px;
    margin-top: 40px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:19px;
    color: white;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    
}
.selecao_dificuldade:hover{
    background-color: rgb(0, 238, 255);
    color:white;
    transition: 0.7s;
}
.selecao_dificuldade_reset{
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 180px;
    height: 50px;
    margin-top: 40px;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:19px;
    color: white;
    box-shadow: 2px 2px 1em rgb(0, 238, 255), -2px -2px 1em rgb(0, 238, 255);
    
}
.selecao_dificuldade_reset:hover{
    background-color: rgb(0, 238, 255);
    color:white;
    transition: 0.7s;
}
p{
    color: white;
}